*{
    --color-dark: #444;
    --color-light: rgb(224, 241, 255);
    --color-medium: rgb(87, 81, 161);
    --color-toolbar: rgb(87, 81, 161);
    --color-bar: rgb(204, 195, 28);
}

body{
    background-color: var(--color-dark);
    color:var(--color-light);
    margin:0px;
    position:relative;
    font-size:18px;
    font-family:Arial, Helvetica, sans-serif;
}

a:link, a:visited, a:active{
    color:var(--color-light);
    text-decoration: none;
}

button{
    background-color: var(--color-medium);
    color: var(--color-light);
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(255,255,255,0.5);
    font-size: 1em;
    margin:5px;
}

button:hover{
    box-shadow: 0px 0px 10px rgba(255,255,255,0.9);
}

button.start{
    margin-top:2em;
    padding:8px;
}

.links{

}

.links:hover{
    text-shadow: 0px 0px 10px rgba(255,255,255,0.5);
}

#title{
	margin-top:1em;
	font-size:3em;
}

#game{
    background-color:var(--color-medium);
    text-align:center;
    position:absolute;
}

#toolbar{
    height:1.5em;
    position:absolute;
    width:100%;
    z-index:100;
}

#toolbar > div{
    display:inline-block;
	padding: 6px 0px;
}

#left{
    position:absolute;
	left:0px;
    width:50%;
}

#right{
    position:absolute;
	right:5px;
    width:50%;
    text-align:right;
}

#score{
    padding:3px;
    line-height: 0.9em;
}

#star{
    color:#FF0;
    font-size:0.6em;
    padding:3px;
}
#star::before{
    content:"★";
    font-size:0.6em;
    color:#FF0;
    vertical-align: text-top;
}

div.overlay{
	background-color:rgba(0,0,0,0.7);
	position:absolute;
	width:100%;
    z-index:50;
    font-size:0.75em;
}

#high{
	text-align:center;
}

div.scores{
	width: 60%;
	border:1px solid var(--color-light);
	display:inline-block;
	margin-top:100px;
    border-radius:5px;
}

div.scores > p{
	font-family:courier,fixed;
	color:var(--color-light);
	white-space:pre;
}

#github{
    margin-top:50px;
    font-size: 0.8em;
}

.bar{
    background-color: var(--color-bar);
}

