*{
    --color-dark: #444;
    --color-light: rgb(224, 241, 255);
    --color-medium: rgb(87, 81, 161);
    --color-toolbar: rgb(87, 81, 161);
    --color-bar: rgb(204, 195, 28);
}

body{
    background-color: var(--color-dark);
    color:var(--color-light);
    margin:0px;
    position:absolute;
    text-align:center;
    font-size:18px;
    font-family:Arial, Helvetica, sans-serif;
}

button{
    background-color: var(--color-medium);
    color: var(--color-light);
    border-radius: 5px;
}

#game{
    background-color:var(--color-medium);
    text-align:center;
}

#toolbar{
    background-color: var(--color-toolbar);
    height:1.5em;
}

#toolbar > div{
    display:inline-block;
    padding:3px;
}

#left{
    float:left;
    width:30%;
}

#right{
    float:right;
    width:30%;
    text-align:right;
}

#score{
    padding:3px;
}

.bar{
    background-color: var(--color-bar);
}

